#title {
  text-align: center;
  font-family: arial, sans-serif;
}
#forms {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}
#forms td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}
#forms tr:nth-child(even){background-color: #f2f2f2;}
#forms tr:hover {background-color: #ddd;}
#forms th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  background:#228B22;
  color: white;
}